@model FrontEnd.Models.C_AdopcionesViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="margin-top: 12%; margin-left: 10%; margin-right: 10%">

        <h1>Detalles de la Adopción</h1>

        <hr />
        <dl class="dl-horizontal">
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.IdPersona)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.C_Persona.nombrePersona)
            </dd>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.IdAnimal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.C_Animales.nombre)
            </dd>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.FechaAdopcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaAdopcion)
            </dd>



        </dl>
        <p>
            @Html.ActionLink("Actualizar", "Edit", new { id = Model.IdAdopcion }) |
            @Html.ActionLink("Regresar a la lista", "Index")
        </p>
    </div>


