 <!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top" style="font-size:40px">Gatitos al Rescate</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home") </li>&nbsp;&nbsp;&nbsp;&nbsp;
                @*<li class="nav-item">@Html.ActionLink("Adopciones", "Index", "C_Adopciones1") </li>&nbsp;&nbsp;&nbsp;
                    <li class="nav-item">@Html.ActionLink("Personas", "Index", "C_Persona1") </li>&nbsp;&nbsp;&nbsp;&nbsp;*@
                <li class="nav-item">@Html.ActionLink("Animales", "Index", "C_Animales") </li>&nbsp;&nbsp;&nbsp;&nbsp;
                @*<li class="nav-item">@Html.ActionLink("Casa Cuna", "Index", "C_CasaCuna") </li>&nbsp;&nbsp;&nbsp;&nbsp;*@
                <li class="nav-item">@Html.ActionLink("Reportes", "AnimalesR", "Home") </li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">@Html.ActionLink("Mensajeria", "EnviarCorreo", "EnviaCorreo") </li>&nbsp;&nbsp;&nbsp;&nbsp;
            </ul>
        </div>

    </div>

</nav>

@* CODIGO DEL CHATBOT PARA INTEGRAR *@

<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger chat-icon="55896542-ea1a-468e-8465-20dfe858e38f_x.png"
              intent="WELCOME"
              chat-title="Gatitos"
              agent-id="29eacc45-1623-464b-b6e3-7ea140cde799"
              language-code="es"></df-messenger>

@* ESTILOS DEL CHATBOT *@
<style>
    df-messenger {
        --df-messenger-bot-message: #f4623a;
        --df-messenger-button-titlebar-color: #878fac;
        /*    --df-messenger-chat-background-color: #fafafc;*/
        --df-messenger-chat-background-color: rgba(255, 255, 255, 0.99);
        --df-messenger-font-color: white;
        --df-messenger-send-icon: #ff6a00;
        --df-messenger-user-message: #5da040;
    }
</style>