@model FrontEnd.Models.UserViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
    <header class="masthead">

        <div style="margin-top: 12%; margin-left: 10%; margin-right: 10%">
            <div id="login-div">

                @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
              {
                  <table>
                    <tr>
                        <td></td>
                        <td style="text-decoration:underline;color:#f4623a; font-size:medium">Ingreso a la Aplicación</td>

                    </tr>
                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>
                        <td style="color: #f4623a; font-size:medium">
                            @Html.LabelFor(model => model.UserName)
                            &nbsp;
                        </td>&nbsp;&nbsp;
                        <td width="200">
                            @Html.EditorFor(model => model.UserName)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="color: #dee2e6">@Html.ValidationMessageFor(model => model.UserName)</td>
                    </tr>

                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>


                    <tr>
                        <td style="color: #f4623a; font-size:medium">@Html.LabelFor(model => model.Password)&nbsp;</td>&nbsp;&nbsp;

                        <td width="200">@Html.EditorFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="color: #dee2e6">@Html.ValidationMessageFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="field-validation-error" style="color: #dee2e6">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="name" value="Login" class="btn btn-primary" />
                            <input type="reset" name="name" value="Borrar" class="btn btn-outline-secondary" style="color:#dee2e6" />
                        </td>
                    </tr>
                </table>
                
                  }

            </div>




            @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
        </div>

    </header>
    <br /><br /><br /><br /><br />