@model FrontEnd.Models.C_PersonaViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="margin-top: 12%; margin-left: 10%; margin-right: 10%">

        <h1>Detalles de la Persona</h1>

        <hr />
        <dl class="dl-horizontal">

            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.IdProvincia)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.C_Provincia.NombreProvincia)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.IdDistrito)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.C_Distrito.NombreDistrito)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.IdCanton)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.C_Canton.NombreCanton)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.nombrePersona)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombrePersona)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.primerApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.primerApellido)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.segundoApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.segundoApellido)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.cedula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cedula)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.correo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.correo)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.sexo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sexo)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccion)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.estadoCivil)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estadoCivil)
            </dd>
            <br>
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.fechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaNacimiento)
            </dd>
            <br>
        </dl>
        <p>
            @Html.ActionLink("Actualizar", "Edit", new { id = Model.IdPersona }) |
            @Html.ActionLink("Regresar a la lista", "Index")
        </p>
    </div>
    <br /><br /><br />
