@model FrontEnd.Models.C_AnimalesViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div style="margin-top: 12%; margin-left: 10%; margin-right: 10%">

        <h1>Detalles del Animal</h1>

        <hr />
        <dl class="dl-horizontal">
            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>

            <br>

            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.IdTamano)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.C_Tamanos.tamanos)
            </dd>
            <br>

            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.IdTemperamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.C_Temperamentos.temperamento)
            </dd>

            <br>

            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.especie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.especie)
            </dd>

            <br>

            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.raza)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.raza)
            </dd>

            <br>

            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.sexo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sexo)
            </dd>

            <br />

            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.fechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaNacimiento)
            </dd>

            <br>



            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.otrasSenas)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.otrasSenas)
            </dd>

            <br>

            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.padecimientos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.padecimientos)
            </dd>

            <br />

            <dt style="font-weight:bold">
                @Html.DisplayNameFor(model => model.ImagenURL)
            </dt>
            <br />
            


            <dd>
                <img src="~/Cargas/@Html.DisplayFor(model => model.ImagenURL)" style="max-width: 380px;border-style:solid; border-color:black; border-radius:5px" />
            </dd>

        </dl><br />

        <p>
            @Html.ActionLink("Actualizar", "Edit", new { id = Model.IdAnimal }) |
            @Html.ActionLink("Regresar a la lista", "Index")
        </p>
    </div>

