@model IEnumerable<FrontEnd.Models.C_AnimalesViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div style="margin-top: 12%; margin-left: 10%; margin-right: 10%">


    <h1>Listado de Animales</h1>
    <br />
    <p>
        @Html.ActionLink("Registrar Animal", "Create")&nbsp;&nbsp;
        <i class="fas fa-plus-circle" style="font-size:25px; color:#f4623a"></i>
    </p>
    <br />
    <div class="form-group col-sm-3">

        <label>Buscar:</label><br />
        <input type="text" onkeyup="Search_Gridview(this, 'lista_Animales')">
    </div>
    <br>



    <table class="table table-hover" id="lista_Animales">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sexo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.fechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.otrasSenas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.padecimientos)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IdTamano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTemperamento)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ImagenURL)
            </th>

            <th style="width:120px">
                <p>Acciones&nbsp;&nbsp;</p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.especie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.raza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.otrasSenas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.padecimientos)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.C_Tamanos.tamanos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.C_Temperamentos.temperamento)
                </td>

                <td>
                    <img src="~/Cargas/@Html.DisplayFor(modelItem => item.ImagenURL)" style="width: 150px;border-style: solid;border-color: black;border-radius: 5px;box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75)" />
                </td>

                <td style="width:120px">
                    <a href="@Url.Action("Edit", "C_Animales", new {id=item.IdAnimal})">

                        <i class="fas fa-edit" style="font-size:18px"></i>
                    </a>&nbsp;

                    <a href="@Url.Action("Details", "C_Animales", new {id=item.IdAnimal})">

                        <i class="fas fa-eye" style="font-size:18px"></i>
                    </a>&nbsp;

                    <a href="@Url.Action("Delete", "C_Animales", new {id=item.IdAnimal})">

                        <i class="fas fa-trash-alt" style="font-size:18px"></i>
                    </a>&nbsp;

                </td>
            </tr>
        }

    </table>

</div>

@* Script para el search del Index que apunta al archivo de js *@
<script src="~/Scripts/Search.js"></script>


<br />
<br />
<br />
<br />

