
@{
    ViewBag.Title = "EnviarCorreo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form method="post" enctype="multipart/form-data">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


    <div class="form-horizontal" style="margin-top: 12%; margin-left: 10%; margin-right: 10%">

        <h1 >Enviar Correo</h1><br />
        <h3>Favor ingresar la información requerida a continuación</h3>

        <hr />


        <div class="form-group">
            <label class="control-label col-md-2">De :</label>
            <div class="col-md-6">
                <input class="form-control" type="email" name="de" placeholder="Correo origen" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Contraseña :</label>
            <div class="col-md-6">
                <input class="form-control" type="password" name="txtPass" placeholder="Contraseña" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Para :</label>
            <div class="col-md-6">
                <input class="form-control" type="email" name="para" placeholder="Correo destino" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Asunto :</label>
            <div class="col-md-6">
                <input class="form-control" type="text" name="asunto" placeholder="Título" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mensaje :</label>
            <div class="col-md-6">
                <textarea style="width:650px;height:200px" name="mensaje" placeholder="Escriba su mensaje"></textarea>
            </div>
        </div>


        <div class="form-group">

            <div class="col-md-6">
                <input type="file" class="btn btn-default" name="fichero" required>
            </div>
        </div><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button id="enviar" class="btn btn-success" type="submit">Enviar correo</button>
            </div>
        </div><br />

        <div>
            @Html.ActionLink("Regresar al Inicio", "Index")
        </div>

    </div>
    }

</form>

<h3 style="color:blue; text-align:center">@ViewBag.Mensaje</h3>
<br />
<h3 style="color:blue; text-align:center">@ViewBag.Error</h3>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

